#hn{
	width :300px;
	margin: 10px 10px 10px 50px;
}
#diseaseNo{
	margin: 10px 10px 10px 50px;
}
#symptom{
	margin: 10px 10px 10px 50px;
}
#medicine{
	margin: 10px 10px 10px 50px;
}
#medicineQuantity{
	width :80px;
}
#diagPanelHeader,#prescriptionPanelHeader{
	background-color: #C3E6CD;
}
#nextAppointment{
	margin: 10px 10px 10px 50px;
}
#appointmentDate{
	width: 300px;
}
