#makeAppointmentPanelHeader{
	background-color: #C3E6CD;
}
#hn{
	width :300px;
	margin: 10px 10px 10px 50px;
}
#department{
	width :300px;
	margin: 10px 10px 10px 50px;
}
#doctor{
	width :300px;
	margin: 10px 10px 10px 50px;
}
#symptom{
	margin: 10px 10px 10px 50px;
}
#appointmentDateInput{
	width: 300px;
}
#appointmentDate{
	margin: 10px 10px 10px 50px;
}
#submitButton{
	margin: 10px 10px 10px 50px;
	
}